In [1]:
import pandas as pd
date_str = '2021-12-06'

In [2]:
%%time
df_MAG_PF_Lv0_Sel = pd.read_csv("../Final-Data/Data-Tables-MAG_" + date_str + "/df_MAG_PF_Lv0_Sel.csv", sep='\t')
df_MAG_PF_Lv0_Sel
# Read_MAG_Paper_Fields.ipynb

CPU times: user 28.4 s, sys: 4.94 s, total: 33.4 s
Wall time: 33.4 s

                    0          1         2
0            18936224   71924100  0.304275
1            94748468  144024400  0.450289
2           113998959   71924100  0.284752
3            56740461  144133560  0.432024
4                  23   71924100  0.443839
...               ...        ...       ...
116942136  3204507145   41008148  0.461706
116942137  3204507150  185592680  0.387695
116942138  3204507160   71924100  0.432389
116942139  3204507164   71924100  0.369905
116942140  3204507171  144133560  0.443296

[116942141 rows x 3 columns]

In [3]:
%%time
df_MAG_PF_Lv1_Sel = pd.read_csv("../Final-Data/Data-Tables-MAG_" + date_str + "/df_MAG_PF_Lv1_Sel.csv", sep='\t')
df_MAG_PF_Lv1_Sel
# Read_MAG_Paper_Fields.ipynb

CPU times: user 38.6 s, sys: 5.48 s, total: 44.1 s
Wall time: 44.1 s

                    0          1         2
0            94748468   95124753  0.450859
1            94748468   36289849  0.440132
2           113998959  112930515  0.397371
3                  23  177713679  0.441617
4            56740461  136264566  0.433773
...               ...        ...       ...
160552848  3204507150  188027245  0.438061
160552849  3204507160  187212893  0.446144
160552850  3204507164  143998085  0.397296
160552851  3204507164  126322002  0.000000
160552852  3204507171   34447519  0.473507

[160552853 rows x 3 columns]

In [4]:
df_MAG_PF_Lv0_Hit_Sel = pd.read_csv('../Final-Data-Metrics/Data-Metrics/MAG_PF_Lv0_Hit.csv', sep='\t')
df_MAG_PF_Lv0_Hit_Sel

                MAGID    FieldID  Lv0_1pct_Hit  Lv0_5pct_Hit  Lv0_10pct_Hit
0          2125825908   15744967             0             1              1
1          3207565320   15744967             0             0              1
2          3205046361   15744967             0             0              1
3           638928283   15744967             0             0              0
4          3207300303   15744967             0             0              0
...               ...        ...           ...           ...            ...
116937946  3210175697  205649164             0             0              0
116937947  3214688134  205649164             0             0              0
116937948  3205848434  205649164             0             0              0
116937949  3210152122  205649164             0             0              0
116937950  3217810235  205649164             0             0              0

[116937951 rows x 5 columns]

In [5]:
df_MAG_PF_Lv1_Hit_Sel = pd.read_csv('../Final-Data-Metrics/Data-Metrics/MAG_PF_Lv1_Hit.csv', sep='\t')
df_MAG_PF_Lv1_Hit_Sel

                MAGID     FieldID  Lv1_1pct_Hit  Lv1_5pct_Hit  Lv1_10pct_Hit
0          2506793503       40700             0             0              0
1          3143968156       40700             0             0              0
2           589777804       40700             0             0              0
3          2075643376       40700             0             0              0
4           590316517       40700             0             0              0
...               ...         ...           ...           ...            ...
160548633  3193903310  2522767166             0             0              0
160548634  3214594834  2522767166             0             0              0
160548635  3197830550  2522767166             0             0              0
160548636  3205739047  2522767166             0             0              0
160548637  3204457722  2522767166             0             0              0

[160548638 rows x 5 columns]

In [6]:
df_MAG_Lv0_Cf_Sel = pd.read_csv('../Final-Data-Metrics/Data-Metrics/MAG_PF_Lv0_Cf.csv', sep='\t')
df_MAG_Lv0_Cf_Sel

                MAGID    FieldID     Lv0_Cf
0           638928283   15744967   0.000000
1           615929232   15744967   0.000000
2          1597528871   15744967   0.000000
3          2039565325   15744967   0.000000
4          2125825908   15744967  22.500000
...               ...        ...        ...
116937946  3204458357  205649164   0.000000
116937947  3204460996  205649164   0.000000
116937948  3217792559  205649164   0.000000
116937949  3204483141  205649164  17.105263
116937950  3217810235  205649164   0.000000

[116937951 rows x 3 columns]

In [7]:
df_MAG_Lv1_Cf_Sel = pd.read_csv('../Final-Data-Metrics/Data-Metrics/MAG_PF_Lv1_Cf.csv', sep='\t')
df_MAG_Lv1_Cf_Sel

                MAGID     FieldID  Lv1_Cf
0          2506793503       40700     0.0
1          3143968156       40700     0.0
2           589777804       40700     0.0
3           590316517       40700     0.0
4          2075643376       40700     2.0
...               ...         ...     ...
160548633  3217679531  2522767166     0.0
160548634  3213207215  2522767166     0.0
160548635  3196743356  2522767166     0.0
160548636  3217764098  2522767166     0.0
160548637  3204457722  2522767166     0.0

[160548638 rows x 3 columns]

In [8]:
df_MAG_PF_Lv0_Sel.columns = ['MAGID','FieldID','Score']
df_MAG_PF_Lv1_Sel.columns = ['MAGID','FieldID','Score']

In [9]:
df_MAG_PF_Lv0_Sel

                MAGID    FieldID     Score
0            18936224   71924100  0.304275
1            94748468  144024400  0.450289
2           113998959   71924100  0.284752
3            56740461  144133560  0.432024
4                  23   71924100  0.443839
...               ...        ...       ...
116942136  3204507145   41008148  0.461706
116942137  3204507150  185592680  0.387695
116942138  3204507160   71924100  0.432389
116942139  3204507164   71924100  0.369905
116942140  3204507171  144133560  0.443296

[116942141 rows x 3 columns]

In [10]:
df_MAG_PF_Lv0_Hit_Sel

                MAGID    FieldID  Lv0_1pct_Hit  Lv0_5pct_Hit  Lv0_10pct_Hit
0          2125825908   15744967             0             1              1
1          3207565320   15744967             0             0              1
2          3205046361   15744967             0             0              1
3           638928283   15744967             0             0              0
4          3207300303   15744967             0             0              0
...               ...        ...           ...           ...            ...
116937946  3210175697  205649164             0             0              0
116937947  3214688134  205649164             0             0              0
116937948  3205848434  205649164             0             0              0
116937949  3210152122  205649164             0             0              0
116937950  3217810235  205649164             0             0              0

[116937951 rows x 5 columns]

In [11]:
%%time
df_MAG_PF_Lv0_New = df_MAG_PF_Lv0_Sel[['MAGID','FieldID']].merge(df_MAG_PF_Lv0_Hit_Sel, 
                                                                 how='left', on=['MAGID','FieldID'])
df_MAG_PF_Lv0_New

CPU times: user 2min 38s, sys: 20 s, total: 2min 58s
Wall time: 2min 58s

                MAGID    FieldID  Lv0_1pct_Hit  Lv0_5pct_Hit  Lv0_10pct_Hit
0            18936224   71924100           0.0           0.0            0.0
1            94748468  144024400           0.0           0.0            0.0
2           113998959   71924100           0.0           0.0            0.0
3            56740461  144133560           0.0           0.0            0.0
4                  23   71924100           0.0           0.0            0.0
...               ...        ...           ...           ...            ...
116942136  3204507145   41008148           0.0           0.0            0.0
116942137  3204507150  185592680           0.0           0.0            0.0
116942138  3204507160   71924100           0.0           0.0            0.0
116942139  3204507164   71924100           0.0           0.0            0.0
116942140  3204507171  144133560           0.0           0.0            0.0

[116942141 rows x 5 columns]

In [12]:
%%time
df_MAG_PF_Lv0_New = df_MAG_PF_Lv0_New.merge(df_MAG_Lv0_Cf_Sel,
                                            how='left', on=['MAGID','FieldID'])
df_MAG_PF_Lv0_New

,MAGID,FieldID,Lv0_1pct_Hit,Lv0_5pct_Hit,Lv0_10pct_Hit,Lv0_Cf
0,18936224,71924100,0.0,0.0,0.0,0.731404
1,94748468,144024400,0.0,0.0,0.0,0.000000
2,113998959,71924100,0.0,0.0,0.0,0.270789
3,56740461,144133560,0.0,0.0,0.0,0.328162
4,23,71924100,0.0,0.0,0.0,0.169123
...,...,...,...,...,...,...
116942136,3204507145,41008148,0.0,0.0,0.0,0.000000
116942137,3204507150,185592680,0.0,0.0,0.0,0.000000
116942138,3204507160,71924100,0.0,0.0,0.0,0.000000
116942139,3204507164,71924100,0.0,0.0,0.0,0.000000
116942140,3204507171,144133560,0.0,0.0,0.0,0.000000

In [13]:
%%time
df_MAG_PF_Lv1_New = df_MAG_PF_Lv1_Sel[['MAGID','FieldID']].merge(df_MAG_PF_Lv1_Hit_Sel, 
                                                                 how='left', on=['MAGID','FieldID'])
df_MAG_PF_Lv1_New

CPU times: user 2min 48s, sys: 19 s, total: 3min 7s
Wall time: 3min 7s

                MAGID    FieldID  Lv1_1pct_Hit  Lv1_5pct_Hit  Lv1_10pct_Hit
0            94748468   95124753           0.0           0.0            0.0
1            94748468   36289849           0.0           0.0            0.0
2           113998959  112930515           0.0           0.0            0.0
3                  23  177713679           0.0           0.0            0.0
4            56740461  136264566           0.0           0.0            0.0
...               ...        ...           ...           ...            ...
160552848  3204507150  188027245           0.0           0.0            0.0
160552849  3204507160  187212893           0.0           0.0            0.0
160552850  3204507164  143998085           0.0           0.0            0.0
160552851  3204507164  126322002           0.0           0.0            0.0
160552852  3204507171   34447519           0.0           0.0            0.0

[160552853 rows x 5 columns]

In [14]:
%%time
df_MAG_PF_Lv1_New = df_MAG_PF_Lv1_New.merge(df_MAG_Lv1_Cf_Sel,
                                            how='left', on=['MAGID','FieldID'])
df_MAG_PF_Lv1_New

CPU times: user 2min 44s, sys: 18.7 s, total: 3min 3s
Wall time: 3min 3s

,MAGID,FieldID,Lv1_1pct_Hit,Lv1_5pct_Hit,Lv1_10pct_Hit,Lv1_Cf
0,94748468,95124753,0.0,0.0,0.0,0.000000
1,94748468,36289849,0.0,0.0,0.0,0.000000
2,113998959,112930515,0.0,0.0,0.0,0.328739
3,23,177713679,0.0,0.0,0.0,0.138115
4,56740461,136264566,0.0,0.0,0.0,0.324273
...,...,...,...,...,...,...
160552848,3204507150,188027245,0.0,0.0,0.0,0.000000
160552849,3204507160,187212893,0.0,0.0,0.0,0.000000
160552850,3204507164,143998085,0.0,0.0,0.0,0.000000
160552851,3204507164,126322002,0.0,0.0,0.0,0.000000
160552852,3204507171,34447519,0.0,0.0,0.0,0.000000

In [15]:
df_MAG_PF_Lv0_New

,MAGID,FieldID,Lv0_1pct_Hit,Lv0_5pct_Hit,Lv0_10pct_Hit,Lv0_Cf
0,18936224,71924100,0.0,0.0,0.0,0.731404
1,94748468,144024400,0.0,0.0,0.0,0.000000
2,113998959,71924100,0.0,0.0,0.0,0.270789
3,56740461,144133560,0.0,0.0,0.0,0.328162
4,23,71924100,0.0,0.0,0.0,0.169123
...,...,...,...,...,...,...
116942136,3204507145,41008148,0.0,0.0,0.0,0.000000
116942137,3204507150,185592680,0.0,0.0,0.0,0.000000
116942138,3204507160,71924100,0.0,0.0,0.0,0.000000
116942139,3204507164,71924100,0.0,0.0,0.0,0.000000
116942140,3204507171,144133560,0.0,0.0,0.0,0.000000

In [16]:
df_MAG_PF_Lv0_New.columns = ['PaperID', 'FieldID', 'Hit_1pct', 'Hit_5pct', 'Hit_10pct', 'C_f']
df_MAG_PF_Lv0_New

              PaperID    FieldID  Hit_1pct  Hit_5pct  Hit_10pct       C_f
0            18936224   71924100       0.0       0.0        0.0  0.731404
1            94748468  144024400       0.0       0.0        0.0  0.000000
2           113998959   71924100       0.0       0.0        0.0  0.270789
3            56740461  144133560       0.0       0.0        0.0  0.328162
4                  23   71924100       0.0       0.0        0.0  0.169123
...               ...        ...       ...       ...        ...       ...
116942136  3204507145   41008148       0.0       0.0        0.0  0.000000
116942137  3204507150  185592680       0.0       0.0        0.0  0.000000
116942138  3204507160   71924100       0.0       0.0        0.0  0.000000
116942139  3204507164   71924100       0.0       0.0        0.0  0.000000
116942140  3204507171  144133560       0.0       0.0        0.0  0.000000

[116942141 rows x 6 columns]

In [17]:
df_MAG_PF_Lv1_New

,MAGID,FieldID,Lv1_1pct_Hit,Lv1_5pct_Hit,Lv1_10pct_Hit,Lv1_Cf
0,94748468,95124753,0.0,0.0,0.0,0.000000
1,94748468,36289849,0.0,0.0,0.0,0.000000
2,113998959,112930515,0.0,0.0,0.0,0.328739
3,23,177713679,0.0,0.0,0.0,0.138115
4,56740461,136264566,0.0,0.0,0.0,0.324273
...,...,...,...,...,...,...
160552848,3204507150,188027245,0.0,0.0,0.0,0.000000
160552849,3204507160,187212893,0.0,0.0,0.0,0.000000
160552850,3204507164,143998085,0.0,0.0,0.0,0.000000
160552851,3204507164,126322002,0.0,0.0,0.0,0.000000
160552852,3204507171,34447519,0.0,0.0,0.0,0.000000

In [18]:
df_MAG_PF_Lv1_New.columns = ['PaperID', 'FieldID', 'Hit_1pct', 'Hit_5pct', 'Hit_10pct', 'C_f']
df_MAG_PF_Lv1_New

              PaperID    FieldID  Hit_1pct  Hit_5pct  Hit_10pct       C_f
0            94748468   95124753       0.0       0.0        0.0  0.000000
1            94748468   36289849       0.0       0.0        0.0  0.000000
2           113998959  112930515       0.0       0.0        0.0  0.328739
3                  23  177713679       0.0       0.0        0.0  0.138115
4            56740461  136264566       0.0       0.0        0.0  0.324273
...               ...        ...       ...       ...        ...       ...
160552848  3204507150  188027245       0.0       0.0        0.0  0.000000
160552849  3204507160  187212893       0.0       0.0        0.0  0.000000
160552850  3204507164  143998085       0.0       0.0        0.0  0.000000
160552851  3204507164  126322002       0.0       0.0        0.0  0.000000
160552852  3204507171   34447519       0.0       0.0        0.0  0.000000

[160552853 rows x 6 columns]

In [19]:
%%time
SciNet_PaperFields = pd.concat([df_MAG_PF_Lv0_New,df_MAG_PF_Lv1_New], ignore_index=True)
SciNet_PaperFields

CPU times: user 2.59 s, sys: 2.87 s, total: 5.46 s
Wall time: 5.46 s

              PaperID    FieldID  Hit_1pct  Hit_5pct  Hit_10pct       C_f
0            18936224   71924100       0.0       0.0        0.0  0.731404
1            94748468  144024400       0.0       0.0        0.0  0.000000
2           113998959   71924100       0.0       0.0        0.0  0.270789
3            56740461  144133560       0.0       0.0        0.0  0.328162
4                  23   71924100       0.0       0.0        0.0  0.169123
...               ...        ...       ...       ...        ...       ...
277494989  3204507150  188027245       0.0       0.0        0.0  0.000000
277494990  3204507160  187212893       0.0       0.0        0.0  0.000000
277494991  3204507164  143998085       0.0       0.0        0.0  0.000000
277494992  3204507164  126322002       0.0       0.0        0.0  0.000000
277494993  3204507171   34447519       0.0       0.0        0.0  0.000000

[277494994 rows x 6 columns]

In [20]:
SciNet_PaperFields[pd.isnull(SciNet_PaperFields['Hit_1pct'])]

              PaperID    FieldID  Hit_1pct  Hit_5pct  Hit_10pct  C_f
91722507   2915169087  205649164       NaN       NaN        NaN  NaN
91758961   2915215226  205649164       NaN       NaN        NaN  NaN
91779450   2915241313  127313418       NaN       NaN        NaN  NaN
91797945   2915264806  127313418       NaN       NaN        NaN  NaN
91825601   2915299791  205649164       NaN       NaN        NaN  NaN
...               ...        ...       ...       ...        ...  ...
258938924  2978246892  166957645       NaN       NaN        NaN  NaN
259365024  2978591680  161191863       NaN       NaN        NaN  NaN
259509110  2978710354   57879066       NaN       NaN        NaN  NaN
259713381  2978880390   58640448       NaN       NaN        NaN  NaN
259793992  2978947872   18903297       NaN       NaN        NaN  NaN

[8405 rows x 6 columns]

In [22]:
SciNet_PaperFields

              PaperID    FieldID  Hit_1pct  Hit_5pct  Hit_10pct       C_f
0            18936224   71924100       0.0       0.0        0.0  0.731404
1            94748468  144024400       0.0       0.0        0.0  0.000000
2           113998959   71924100       0.0       0.0        0.0  0.270789
3            56740461  144133560       0.0       0.0        0.0  0.328162
4                  23   71924100       0.0       0.0        0.0  0.169123
...               ...        ...       ...       ...        ...       ...
277494989  3204507150  188027245       0.0       0.0        0.0  0.000000
277494990  3204507160  187212893       0.0       0.0        0.0  0.000000
277494991  3204507164  143998085       0.0       0.0        0.0  0.000000
277494992  3204507164  126322002       0.0       0.0        0.0  0.000000
277494993  3204507171   34447519       0.0       0.0        0.0  0.000000

[277494994 rows x 6 columns]

In [23]:
# SciNet_PaperFields.to_csv('../Final-SciNet-Tables/SciNet_PaperFields.tsv', sep='\t', index=False)