In [2]:
import pandas as pd
date_str = '2021-12-06'

In [4]:
%%time
df_MAG_PaperRef_Sel = pd.read_csv("./Data-Tables-MAG_" + date_str + "/df_MAG_PaperRef_Sel.csv", sep='\t')
df_MAG_PaperRef_Sel
# Link_MAG_Paper_Ref_Paper.ipynb

CPU times: user 3min 27s, sys: 39.1 s, total: 4min 6s
Wall time: 4min 7s

                     0           1
0                  108   583459574
1                  108   643248926
2                  108  1520342355
3                  108  1580980889
4                  108  1603043449
...                ...         ...
1588739698  3217810415  1636278862
1588739699  3217810722  2028332996
1588739700  3217810752  3156959162
1588739701  3217810860  3028468154
1588739702  3217810871  2963610883

[1588739703 rows x 2 columns]

In [5]:
df_MAG_PaperRef_Sel.rename(columns={'0':'Citing_PaperID','1':'Cited_PaperID'},inplace=True)
df_MAG_PaperRef_Sel

            Citing_PaperID  Cited_PaperID
0                      108      583459574
1                      108      643248926
2                      108     1520342355
3                      108     1580980889
4                      108     1603043449
...                    ...            ...
1588739698      3217810415     1636278862
1588739699      3217810722     2028332996
1588739700      3217810752     3156959162
1588739701      3217810860     3028468154
1588739702      3217810871     2963610883

[1588739703 rows x 2 columns]

In [6]:
# df_MAG_PaperRef_Sel.to_csv('../Final-SciNet-Tables/SciNet_PaperReferences.tsv', sep='\t', index=False)

In [3]:
%%time
df_MAG_NIH_New = pd.read_csv('../Final-Data-Linkage/Data-Linkage/Link_MAG_PMID_NIHproj.csv', sep='\t')
df_MAG_NIH_New
# MAG-Paper-NIH.ipynb

CPU times: user 2.65 s, sys: 408 ms, total: 3.06 s
Wall time: 3.13 s

              MAGID      PMID PROJECT_NUMBER
0              3066   9923457    R29HL057675
1              3066   9923457    R01HL057675
2              3066   9923457    R01HL054973
3             15845  17127250    P01HD030367
4             15845  17127250    M01RR000056
...             ...       ...            ...
6019894   246319838  12432827    R01NS038713
6019895  2082844918  12958435    R01MH061138
6019896  2082844918  12958435    R01NS038894
6019897  2069345940  11758118    P01AR038923
6019898  2069345940  11758118    K08AR002141

[6019899 rows x 3 columns]

In [4]:
SciNet_Link_Paper_NIH = df_MAG_NIH_New.loc[:,['MAGID','PROJECT_NUMBER']]
SciNet_Link_Paper_NIH

              MAGID PROJECT_NUMBER
0              3066    R29HL057675
1              3066    R01HL057675
2              3066    R01HL054973
3             15845    P01HD030367
4             15845    M01RR000056
...             ...            ...
6019894   246319838    R01NS038713
6019895  2082844918    R01MH061138
6019896  2082844918    R01NS038894
6019897  2069345940    P01AR038923
6019898  2069345940    K08AR002141

[6019899 rows x 2 columns]

In [5]:
SciNet_Link_Paper_NIH.rename(columns={'MAGID':'PaperID','PROJECT_NUMBER':'NIH_Project_Number'}, inplace=True)
SciNet_Link_Paper_NIH

            PaperID NIH_Project_Number
0              3066        R29HL057675
1              3066        R01HL057675
2              3066        R01HL054973
3             15845        P01HD030367
4             15845        M01RR000056
...             ...                ...
6019894   246319838        R01NS038713
6019895  2082844918        R01MH061138
6019896  2082844918        R01NS038894
6019897  2069345940        P01AR038923
6019898  2069345940        K08AR002141

[6019899 rows x 2 columns]

In [6]:
# SciNet_Link_Paper_NIH.to_csv('../Final-SciNet-Tables/SciNet_Link_Paper_NIH.tsv', sep='\t', index=False)

In [7]:
%%time
df_MAG_PT_Full = pd.read_csv('../Final-Data-Linkage/Data-Linkage/Raw_Link_MAG_Patent.csv', sep='\t')
df_MAG_PT_Full
# Read Link_MAG_Patent.csv for 2 columns only.
# Read 
# MAG-Paper-USPTO.ipynb

CPU times: user 30.1 s, sys: 5.9 s, total: 36 s
Wall time: 36.1 s

               MAGID reftype  confscore         patent  uspto wherefound
0          183958795     exm         10  EP-2667337-A3      0  frontonly
1          855255571     exm         10     US-9984683      1  frontonly
2          855255571     exm         10    US-10595727      1  frontonly
3          855255571     exm         10    US-10417788      1  frontonly
4          855255571     exm         10    US-10402700      1  frontonly
...              ...     ...        ...            ...    ...        ...
38740308   143872045     exm         10     US-6372744      1  frontonly
38740309   143872045     exm         10     US-6117896      1  frontonly
38740310  2923798484     exm          1     US-8038457      1  frontonly
38740311  2923798484     exm          1     US-7909635      1  frontonly
38740312  2923798484     exm          1     US-7854620      1  frontonly

[38740313 rows x 6 columns]

In [8]:
%%time
SciNet_Link_Paper_Patents = df_MAG_PT_Full.loc[:,['MAGID','patent','uspto']]
SciNet_Link_Paper_Patents

CPU times: user 761 ms, sys: 609 ms, total: 1.37 s
Wall time: 1.36 s

               MAGID         patent  uspto
0          183958795  EP-2667337-A3      0
1          855255571     US-9984683      1
2          855255571    US-10595727      1
3          855255571    US-10417788      1
4          855255571    US-10402700      1
...              ...            ...    ...
38740308   143872045     US-6372744      1
38740309   143872045     US-6117896      1
38740310  2923798484     US-8038457      1
38740311  2923798484     US-7909635      1
38740312  2923798484     US-7854620      1

[38740313 rows x 3 columns]

In [9]:
SciNet_Link_Paper_Patents.rename(columns={'MAGID':'PaperID','patent':'PatentID','uspto':'Type'}, inplace=True)
SciNet_Link_Paper_Patents

             PaperID       PatentID  Type
0          183958795  EP-2667337-A3     0
1          855255571     US-9984683     1
2          855255571    US-10595727     1
3          855255571    US-10417788     1
4          855255571    US-10402700     1
...              ...            ...   ...
38740308   143872045     US-6372744     1
38740309   143872045     US-6117896     1
38740310  2923798484     US-8038457     1
38740311  2923798484     US-7909635     1
38740312  2923798484     US-7854620     1

[38740313 rows x 3 columns]

In [10]:
# SciNet_Link_Paper_Patents.to_csv('../Final-SciNet-Tables/SciNet_Link_Paper_Patents.tsv', sep='\t', index=False)

In [11]:
df_MAG_Newsfeed = pd.read_csv('../Final-Data-Linkage/Data-Linkage/Link_MAG_Newsfeed.csv', sep='\t')
df_MAG_Newsfeed
# MAG-Paper-Newsfeed.ipynb

,MAGID,obj_id,subj_id
0,2604293429,https://doi.org/10.1038/nature21680,https://www.sciencenews.org/article/massive-re...
1,2604934333,https://doi.org/10.1073/pnas.1619013114,https://www.zmescience.com/science/news-scienc...
2,2604934333,https://doi.org/10.1073/pnas.1619013114,https://www.theguardian.com/science/2017/apr/0...
3,2081225124,https://doi.org/10.1038/nature13422,https://www.zmescience.com/science/news-scienc...
4,2081225124,https://doi.org/10.1038/nature13422,http://theconversation.com/buried-tools-and-pi...
...,...,...,...
899318,3212058632,https://doi.org/10.1016/j.cub.2021.10.063,https://www.quantamagazine.org/flying-fish-and...
899319,3128761396,https://doi.org/10.1016/j.cell.2021.01.047,https://www.quantamagazine.org/flying-fish-and...
899320,3212511064,https://doi.org/10.1073/pnas.2100575118,https://www.quantamagazine.org/flying-fish-and...
899321,3128699789,https://doi.org/10.1016/j.cell.2021.01.003,https://www.quantamagazine.org/flying-fish-and...
899322,2733567627,https://doi.org/10.1029/2017EO076589,https://www.sciencealert.com/a-scientist-expla...

In [12]:
SciNet_Link_Paper_Newsfeed = df_MAG_Newsfeed.loc[:,['MAGID','subj_id']]
SciNet_Link_Paper_Newsfeed

             MAGID                                            subj_id
0       2604293429  https://www.sciencenews.org/article/massive-re...
1       2604934333  https://www.zmescience.com/science/news-scienc...
2       2604934333  https://www.theguardian.com/science/2017/apr/0...
3       2081225124  https://www.zmescience.com/science/news-scienc...
4       2081225124  http://theconversation.com/buried-tools-and-pi...
...            ...                                                ...
899318  3212058632  https://www.quantamagazine.org/flying-fish-and...
899319  3128761396  https://www.quantamagazine.org/flying-fish-and...
899320  3212511064  https://www.quantamagazine.org/flying-fish-and...
899321  3128699789  https://www.quantamagazine.org/flying-fish-and...
899322  2733567627  https://www.sciencealert.com/a-scientist-expla...

[899323 rows x 2 columns]

In [13]:
SciNet_Link_Paper_Newsfeed.rename(columns={'MAGID':'PaperID','subj_id':'NewsfeedID'}, inplace=True)
SciNet_Link_Paper_Newsfeed

           PaperID                                         NewsfeedID
0       2604293429  https://www.sciencenews.org/article/massive-re...
1       2604934333  https://www.zmescience.com/science/news-scienc...
2       2604934333  https://www.theguardian.com/science/2017/apr/0...
3       2081225124  https://www.zmescience.com/science/news-scienc...
4       2081225124  http://theconversation.com/buried-tools-and-pi...
...            ...                                                ...
899318  3212058632  https://www.quantamagazine.org/flying-fish-and...
899319  3128761396  https://www.quantamagazine.org/flying-fish-and...
899320  3212511064  https://www.quantamagazine.org/flying-fish-and...
899321  3128699789  https://www.quantamagazine.org/flying-fish-and...
899322  2733567627  https://www.sciencealert.com/a-scientist-expla...

[899323 rows x 2 columns]

In [14]:
# SciNet_Link_Paper_Newsfeed.to_csv('../Final-SciNet-Tables/SciNet_Link_Paper_Newsfeed.tsv', sep='\t', index=False)

In [15]:
%%time
df_MAG_Twitter = pd.read_csv('../Final-Data-Linkage/Data-Linkage/Link_MAG_Twitter.csv', sep='\t')
df_MAG_Twitter
# MAG-Paper-Twitter.ipynb

CPU times: user 1min 8s, sys: 9.15 s, total: 1min 17s
Wall time: 1min 17s

,MAGID,obj_id,subj_id
0,2409185502,https://doi.org/10.1098/rspb.2016.0792,http://twitter.com/PaulKiem/statuses/832519346...
1,2409185502,https://doi.org/10.1098/rspb.2016.0792,http://twitter.com/ImmaBioloG/statuses/8331188...
2,2409185502,https://doi.org/10.1098/rspb.2016.0792,http://twitter.com/BitKblog/statuses/834133155...
3,2409185502,https://doi.org/10.1098/rspb.2016.0792,http://twitter.com/chiara_ceci/statuses/834359...
4,2409185502,https://doi.org/10.1098/rspb.2016.0792,http://twitter.com/KLA2010/statuses/8343620020...
...,...,...,...
56121130,2083997846,https://doi.org/10.1177/1098612x15572970,twitter://status?id=1482878777617227776
56121131,2807381522,https://doi.org/10.1088/0256-307X/35/6/067301,twitter://status?id=1482888062334283778
56121132,2108824353,https://doi.org/10.1371/journal.pone.0090001,twitter://status?id=1482949199104995329
56121133,3037760641,https://doi.org/10.1080/00295450.2020.1747837,twitter://status?id=1482897388716978177
56121134,1990647126,https://doi.org/10.1080/01621459.1975.10480264,twitter://status?id=1482914613435977734

In [16]:
%%time
Link_MAG_Twitter_Pure = pd.read_csv('../Final-Data-Linkage/Data-Linkage/Link_MAG_Twitter_Pure.csv', sep='\t')
Link_MAG_Twitter_Pure

CPU times: user 11.6 s, sys: 1.9 s, total: 13.5 s
Wall time: 13.6 s

               MAGID           Twitter_ID
0         2409185502   832519346811310080
1         2409185502   833118888405540865
2         2409185502   834133155128881152
3         2409185502   834359344741380096
4         2409185502   834362002080399361
...              ...                  ...
56121130  2083997846  1482878777617227776
56121131  2807381522  1482888062334283778
56121132  2108824353  1482949199104995329
56121133  3037760641  1482897388716978177
56121134  1990647126  1482914613435977734

[56121135 rows x 2 columns]

In [17]:
Link_MAG_Twitter_Pure.rename(columns={'MAGID':'PaperID','Twitter_ID':'TweetID'}, inplace=True)
Link_MAG_Twitter_Pure

             PaperID              TweetID
0         2409185502   832519346811310080
1         2409185502   833118888405540865
2         2409185502   834133155128881152
3         2409185502   834359344741380096
4         2409185502   834362002080399361
...              ...                  ...
56121130  2083997846  1482878777617227776
56121131  2807381522  1482888062334283778
56121132  2108824353  1482949199104995329
56121133  3037760641  1482897388716978177
56121134  1990647126  1482914613435977734

[56121135 rows x 2 columns]

In [18]:
# Link_MAG_Twitter_Pure.to_csv('../Final-SciNet-Tables/SciNet_Link_Paper_Twitter.tsv', sep='\t', index=False)

In [19]:
%%time
df_MAG_NCT = pd.read_csv('../Final-Data-Linkage/Data-Linkage/Link_MAG_PMID_NCTID_ACCT.csv', sep='\t')
df_MAG_NCT
# MAG-Paper-NCT-ACCT.ipynb

CPU times: user 232 ms, sys: 42 ms, total: 274 ms
Wall time: 332 ms

             MAGID      PMID       NCT_ID
0             5825  23592934  NCT00486187
1            12687  10710805  NCT01402011
2            12687  10710805  NCT00685880
3            12687  10710805  NCT00085722
4            12687  10710805  NCT03515720
...            ...       ...          ...
438215  2110179408  10998730  NCT02487966
438216  3156434758  33871579  NCT05035277
438217  2054020285   6387488  NCT00089414
438218  2406368488   7091625  NCT04750486
438219  2049932300  10332025  NCT01358110

[438220 rows x 3 columns]

In [20]:
SciNet_Link_Paper_ClinicalTrials = df_MAG_NCT.loc[:,['MAGID','NCT_ID']]
SciNet_Link_Paper_ClinicalTrials

             MAGID       NCT_ID
0             5825  NCT00486187
1            12687  NCT01402011
2            12687  NCT00685880
3            12687  NCT00085722
4            12687  NCT03515720
...            ...          ...
438215  2110179408  NCT02487966
438216  3156434758  NCT05035277
438217  2054020285  NCT00089414
438218  2406368488  NCT04750486
438219  2049932300  NCT01358110

[438220 rows x 2 columns]

In [21]:
SciNet_Link_Paper_ClinicalTrials.rename(columns={'MAGID':'PaperID','NCT_ID':'NCT_Number'}, inplace=True)
SciNet_Link_Paper_ClinicalTrials

           PaperID   NCT_Number
0             5825  NCT00486187
1            12687  NCT01402011
2            12687  NCT00685880
3            12687  NCT00085722
4            12687  NCT03515720
...            ...          ...
438215  2110179408  NCT02487966
438216  3156434758  NCT05035277
438217  2054020285  NCT00089414
438218  2406368488  NCT04750486
438219  2049932300  NCT01358110

[438220 rows x 2 columns]

In [22]:
# SciNet_Link_Paper_ClinicalTrials.to_csv('../Final-SciNet-Tables/SciNet_Link_Paper_ClinicalTrials.tsv', 
#                                         sep='\t', index=False)

In [23]:
%%time
df_MAG_Sel_wRC = pd.read_csv("./Data-Tables-MAG_" + date_str + "/df_MAG_Sel_wRC.csv", sep='\t')
df_MAG_Sel_wRC
# Sel_MAG_Ref_Cite.ipynb

CPU times: user 2min 46s, sys: 30.3 s, total: 3min 16s
Wall time: 3min 16s

,MAGID,DOI,DocType,Year,Date,JID,ConfSID,ConfInsID,C_all,C10,R,C3,C5
0,2789336,NaN,Journal,2008.0,2008-01-01,2.048520e+08,NaN,NaN,1.0,1.0,13.0,1.0,1.0
1,9552966,NaN,Journal,2005.0,2005-05-01,2.737569e+09,NaN,NaN,0.0,0.0,37.0,0.0,0.0
2,9694411,NaN,Conference,1994.0,1994-01-01,NaN,2.755927e+09,NaN,0.0,0.0,0.0,0.0,0.0
3,14355006,NaN,Repository,2011.0,2011-01-01,3.121261e+09,NaN,NaN,0.0,0.0,0.0,0.0,0.0
4,14558443,10.1007/978-3-662-45174-8_28,Conference,2014.0,2014-10-12,NaN,1.131603e+09,4.038532e+06,14.0,14.0,11.0,6.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
134129183,3215499129,10.1109/ICRERA52334.2021.9598593,NaN,2021.0,2021-09-26,NaN,NaN,NaN,0.0,0.0,14.0,0.0,0.0
134129184,3215845741,10.3389/FCVM.2021.766676,Journal,2021.0,2021-11-24,2.595414e+09,NaN,NaN,0.0,0.0,33.0,0.0,0.0
134129185,3216186450,10.1016/J.IDNOW.2021.11.004,NaN,2021.0,2021-11-24,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
134129186,3216762448,10.1016/J.ISTRUC.2021.10.095,Journal,2022.0,2022-01-01,2.898443e+09,NaN,NaN,0.0,0.0,33.0,0.0,0.0
134129187,3217727977,10.1109/MLISE54096.2021.00043,Conference,2021.0,2021-07-09,NaN,1.180663e+09,3.117406e+09,0.0,0.0,0.0,0.0,0.0

In [25]:
SciNet_Papers = df_MAG_Sel_wRC.loc[:,['MAGID','DOI','DocType','Year','Date','JID','ConfSID',
                                      'C_all','C10','R','C5']]
SciNet_Papers

,MAGID,DOI,DocType,Year,Date,JID,ConfSID,C_all,C10,R,C5
0,2789336,NaN,Journal,2008.0,2008-01-01,2.048520e+08,NaN,1.0,1.0,13.0,1.0
1,9552966,NaN,Journal,2005.0,2005-05-01,2.737569e+09,NaN,0.0,0.0,37.0,0.0
2,9694411,NaN,Conference,1994.0,1994-01-01,NaN,2.755927e+09,0.0,0.0,0.0,0.0
3,14355006,NaN,Repository,2011.0,2011-01-01,3.121261e+09,NaN,0.0,0.0,0.0,0.0
4,14558443,10.1007/978-3-662-45174-8_28,Conference,2014.0,2014-10-12,NaN,1.131603e+09,14.0,14.0,11.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...
134129183,3215499129,10.1109/ICRERA52334.2021.9598593,NaN,2021.0,2021-09-26,NaN,NaN,0.0,0.0,14.0,0.0
134129184,3215845741,10.3389/FCVM.2021.766676,Journal,2021.0,2021-11-24,2.595414e+09,NaN,0.0,0.0,33.0,0.0
134129185,3216186450,10.1016/J.IDNOW.2021.11.004,NaN,2021.0,2021-11-24,NaN,NaN,0.0,0.0,0.0,0.0
134129186,3216762448,10.1016/J.ISTRUC.2021.10.095,Journal,2022.0,2022-01-01,2.898443e+09,NaN,0.0,0.0,33.0,0.0
134129187,3217727977,10.1109/MLISE54096.2021.00043,Conference,2021.0,2021-07-09,NaN,1.180663e+09,0.0,0.0,0.0,0.0

In [26]:
SciNet_Papers.rename(columns={'MAGID':'PaperID', 'JID':'JournalID', 'ConfSID':'ConferenceSeriesID',
                             'C_all':'Citation_Count', 'R':'Reference_Count'}, inplace=True)
SciNet_Papers

,PaperID,DOI,DocType,Year,Date,JournalID,ConferenceSeriesID,Citation_Count,C10,Reference_Count,C5
0,2789336,NaN,Journal,2008.0,2008-01-01,2.048520e+08,NaN,1.0,1.0,13.0,1.0
1,9552966,NaN,Journal,2005.0,2005-05-01,2.737569e+09,NaN,0.0,0.0,37.0,0.0
2,9694411,NaN,Conference,1994.0,1994-01-01,NaN,2.755927e+09,0.0,0.0,0.0,0.0
3,14355006,NaN,Repository,2011.0,2011-01-01,3.121261e+09,NaN,0.0,0.0,0.0,0.0
4,14558443,10.1007/978-3-662-45174-8_28,Conference,2014.0,2014-10-12,NaN,1.131603e+09,14.0,14.0,11.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...
134129183,3215499129,10.1109/ICRERA52334.2021.9598593,NaN,2021.0,2021-09-26,NaN,NaN,0.0,0.0,14.0,0.0
134129184,3215845741,10.3389/FCVM.2021.766676,Journal,2021.0,2021-11-24,2.595414e+09,NaN,0.0,0.0,33.0,0.0
134129185,3216186450,10.1016/J.IDNOW.2021.11.004,NaN,2021.0,2021-11-24,NaN,NaN,0.0,0.0,0.0,0.0
134129186,3216762448,10.1016/J.ISTRUC.2021.10.095,Journal,2022.0,2022-01-01,2.898443e+09,NaN,0.0,0.0,33.0,0.0
134129187,3217727977,10.1109/MLISE54096.2021.00043,Conference,2021.0,2021-07-09,NaN,1.180663e+09,0.0,0.0,0.0,0.0

In [27]:
SciNet_Papers

,PaperID,DOI,DocType,Year,Date,JournalID,ConferenceSeriesID,Citation_Count,C10,Reference_Count,C5
0,2789336,NaN,Journal,2008.0,2008-01-01,2.048520e+08,NaN,1.0,1.0,13.0,1.0
1,9552966,NaN,Journal,2005.0,2005-05-01,2.737569e+09,NaN,0.0,0.0,37.0,0.0
2,9694411,NaN,Conference,1994.0,1994-01-01,NaN,2.755927e+09,0.0,0.0,0.0,0.0
3,14355006,NaN,Repository,2011.0,2011-01-01,3.121261e+09,NaN,0.0,0.0,0.0,0.0
4,14558443,10.1007/978-3-662-45174-8_28,Conference,2014.0,2014-10-12,NaN,1.131603e+09,14.0,14.0,11.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...
134129183,3215499129,10.1109/ICRERA52334.2021.9598593,NaN,2021.0,2021-09-26,NaN,NaN,0.0,0.0,14.0,0.0
134129184,3215845741,10.3389/FCVM.2021.766676,Journal,2021.0,2021-11-24,2.595414e+09,NaN,0.0,0.0,33.0,0.0
134129185,3216186450,10.1016/J.IDNOW.2021.11.004,NaN,2021.0,2021-11-24,NaN,NaN,0.0,0.0,0.0,0.0
134129186,3216762448,10.1016/J.ISTRUC.2021.10.095,Journal,2022.0,2022-01-01,2.898443e+09,NaN,0.0,0.0,33.0,0.0
134129187,3217727977,10.1109/MLISE54096.2021.00043,Conference,2021.0,2021-07-09,NaN,1.180663e+09,0.0,0.0,0.0,0.0

In [29]:
%%time
import numpy as np
SciNet_Papers.loc[SciNet_Papers['Year'] >= 2012, ['C10']] = np.nan
SciNet_Papers

CPU times: user 1.84 s, sys: 1.2 s, total: 3.04 s
Wall time: 3.08 s

,PaperID,DOI,DocType,Year,Date,JournalID,ConferenceSeriesID,Citation_Count,C10,Reference_Count,C5
0,2789336,NaN,Journal,2008.0,2008-01-01,2.048520e+08,NaN,1.0,1.0,13.0,1.0
1,9552966,NaN,Journal,2005.0,2005-05-01,2.737569e+09,NaN,0.0,0.0,37.0,0.0
2,9694411,NaN,Conference,1994.0,1994-01-01,NaN,2.755927e+09,0.0,0.0,0.0,0.0
3,14355006,NaN,Repository,2011.0,2011-01-01,3.121261e+09,NaN,0.0,0.0,0.0,0.0
4,14558443,10.1007/978-3-662-45174-8_28,Conference,2014.0,2014-10-12,NaN,1.131603e+09,14.0,NaN,11.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...
134129183,3215499129,10.1109/ICRERA52334.2021.9598593,NaN,2021.0,2021-09-26,NaN,NaN,0.0,NaN,14.0,0.0
134129184,3215845741,10.3389/FCVM.2021.766676,Journal,2021.0,2021-11-24,2.595414e+09,NaN,0.0,NaN,33.0,0.0
134129185,3216186450,10.1016/J.IDNOW.2021.11.004,NaN,2021.0,2021-11-24,NaN,NaN,0.0,NaN,0.0,0.0
134129186,3216762448,10.1016/J.ISTRUC.2021.10.095,Journal,2022.0,2022-01-01,2.898443e+09,NaN,0.0,NaN,33.0,0.0
134129187,3217727977,10.1109/MLISE54096.2021.00043,Conference,2021.0,2021-07-09,NaN,1.180663e+09,0.0,NaN,0.0,0.0

In [30]:
SciNet_Papers.loc[SciNet_Papers['Year'] >= 2017, ['C5']] = np.nan
SciNet_Papers

,PaperID,DOI,DocType,Year,Date,JournalID,ConferenceSeriesID,Citation_Count,C10,Reference_Count,C5
0,2789336,NaN,Journal,2008.0,2008-01-01,2.048520e+08,NaN,1.0,1.0,13.0,1.0
1,9552966,NaN,Journal,2005.0,2005-05-01,2.737569e+09,NaN,0.0,0.0,37.0,0.0
2,9694411,NaN,Conference,1994.0,1994-01-01,NaN,2.755927e+09,0.0,0.0,0.0,0.0
3,14355006,NaN,Repository,2011.0,2011-01-01,3.121261e+09,NaN,0.0,0.0,0.0,0.0
4,14558443,10.1007/978-3-662-45174-8_28,Conference,2014.0,2014-10-12,NaN,1.131603e+09,14.0,NaN,11.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...
134129183,3215499129,10.1109/ICRERA52334.2021.9598593,NaN,2021.0,2021-09-26,NaN,NaN,0.0,NaN,14.0,NaN
134129184,3215845741,10.3389/FCVM.2021.766676,Journal,2021.0,2021-11-24,2.595414e+09,NaN,0.0,NaN,33.0,NaN
134129185,3216186450,10.1016/J.IDNOW.2021.11.004,NaN,2021.0,2021-11-24,NaN,NaN,0.0,NaN,0.0,NaN
134129186,3216762448,10.1016/J.ISTRUC.2021.10.095,Journal,2022.0,2022-01-01,2.898443e+09,NaN,0.0,NaN,33.0,NaN
134129187,3217727977,10.1109/MLISE54096.2021.00043,Conference,2021.0,2021-07-09,NaN,1.180663e+09,0.0,NaN,0.0,NaN

In [31]:
# SciNet_Papers.to_csv('../Final-SciNet-Tables/SciNet_Papers-Temp0.tsv', sep='\t', index=False)