In [1]:
import pandas as pd
date_str = '2021-12-06'

In [3]:
%%time
df_MAG_Sel_wRC = pd.read_csv("../Final-Data/Data-Tables-MAG_" + date_str + "/df_MAG_Sel_wRC.csv", sep='\t')
df_MAG_Sel_wRC
# Sel_MAG_Ref_Cite.ipynb

CPU times: user 2min 27s, sys: 29.3 s, total: 2min 56s
Wall time: 2min 56s

,MAGID,DOI,DocType,Year,Date,JID,ConfSID,ConfInsID,C_all,C10,R,C3,C5
0,2789336,NaN,Journal,2008.0,2008-01-01,2.048520e+08,NaN,NaN,1.0,1.0,13.0,1.0,1.0
1,9552966,NaN,Journal,2005.0,2005-05-01,2.737569e+09,NaN,NaN,0.0,0.0,37.0,0.0,0.0
2,9694411,NaN,Conference,1994.0,1994-01-01,NaN,2.755927e+09,NaN,0.0,0.0,0.0,0.0,0.0
3,14355006,NaN,Repository,2011.0,2011-01-01,3.121261e+09,NaN,NaN,0.0,0.0,0.0,0.0,0.0
4,14558443,10.1007/978-3-662-45174-8_28,Conference,2014.0,2014-10-12,NaN,1.131603e+09,4.038532e+06,14.0,14.0,11.0,6.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
134129183,3215499129,10.1109/ICRERA52334.2021.9598593,NaN,2021.0,2021-09-26,NaN,NaN,NaN,0.0,0.0,14.0,0.0,0.0
134129184,3215845741,10.3389/FCVM.2021.766676,Journal,2021.0,2021-11-24,2.595414e+09,NaN,NaN,0.0,0.0,33.0,0.0,0.0
134129185,3216186450,10.1016/J.IDNOW.2021.11.004,NaN,2021.0,2021-11-24,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
134129186,3216762448,10.1016/J.ISTRUC.2021.10.095,Journal,2022.0,2022-01-01,2.898443e+09,NaN,NaN,0.0,0.0,33.0,0.0,0.0
134129187,3217727977,10.1109/MLISE54096.2021.00043,Conference,2021.0,2021-07-09,NaN,1.180663e+09,3.117406e+09,0.0,0.0,0.0,0.0,0.0

In [4]:
%%time
MAGID_NIHcount = pd.read_csv('./Data-Linkage/MAGID_NIHcount.csv', sep='\t')
MAGID_NIHcount
# MAG-Paper-NIH.ipynb

CPU times: user 382 ms, sys: 11.4 ms, total: 393 ms
Wall time: 449 ms

              MAGID  NIH_count
0        2040964350        192
1        2519445944        190
2        2752326209        187
3        2898585601        181
4        2144405108        151
...             ...        ...
2636056  2105346239          1
2636057  2105345718          1
2636058  2105345395          1
2636059  1984365483          1
2636060  3217639638          1

[2636061 rows x 2 columns]

In [5]:
%%time
MAGID_Patentcount = pd.read_csv('./Data-Linkage/MAGID_Patentcount.csv', sep='\t')
MAGID_Patentcount
# MAG-Paper-USPTO.ipynb

CPU times: user 762 ms, sys: 25 ms, total: 787 ms
Wall time: 828 ms

              MAGID  Patent_count
0        2030522563         29270
1        2055043387         28585
2        1594700207         28185
3        2144634347         22600
4        2074231493         19873
...             ...           ...
5824921  2056071356             1
5824922  2056071436             1
5824923  2056071453             1
5824924  2056071454             1
5824925  2061465702             1

[5824926 rows x 2 columns]

In [6]:
%%time
df_MAG_Newsfeed_cnt = pd.read_csv('./Data-Linkage/MAGID_Newsfeedcount.csv', sep='\t')
df_MAG_Newsfeed_cnt
# MAG-Paper-Newsfeed.ipynb

CPU times: user 60.7 ms, sys: 4.13 ms, total: 64.8 ms
Wall time: 86.6 ms

             MAGID  Newsfeed_count
0       2070544768            3339
1       2578830134            1652
2       2625242265            1465
3       2619679834            1393
4       2626390786            1332
...            ...             ...
307954  2140716621               1
307955  2917077319               1
307956  2140703881               1
307957  2917081210               1
307958       42620               1

[307959 rows x 2 columns]

In [7]:
%%time
df_MAG_Twitter_cnt = pd.read_csv('./Data-Linkage/MAGID_Twittercount.csv', sep='\t')
df_MAG_Twitter_cnt
# MAG-Paper-Twitter.ipynb

CPU times: user 569 ms, sys: 28.1 ms, total: 598 ms
Wall time: 630 ms

              MAGID  Twitter_count
0        3126435836         159488
1        3168908540          68123
2        3208367711          67839
3        3202290156          55129
4        3179398509          53960
...             ...            ...
4329438  2910523285              1
4329439  2910524244              1
4329440  2910524682              1
4329441  2910525254              1
4329442  3217810947              1

[4329443 rows x 2 columns]

In [8]:
%%time
df_MAG_NCT_cnt = pd.read_csv('./Data-Linkage/MAGID_NCTcount_wPMID_AACT.csv', sep='\t')
df_MAG_NCT_cnt
# MAG-Paper-NCT-ACCT.ipynb

CPU times: user 68.3 ms, sys: 2.05 ms, total: 70.3 ms
Wall time: 98 ms

             MAGID  NCT_count
0       2132322340        146
1       2253311584        114
2       1996299251        104
3       3001118548        103
4       2151487996         95
...            ...        ...
337425  2047074132          1
337426  2047073643          1
337427  2047072666          1
337428  2047071958          1
337429  3217652281          1

[337430 rows x 2 columns]

In [9]:
%%time
MAGID_NIHcount.loc[MAGID_NIHcount['MAGID'].isin(df_MAG_Sel_wRC['MAGID']), :]

              MAGID  NIH_count
0        2040964350        192
1        2519445944        190
2        2752326209        187
3        2898585601        181
4        2144405108        151
...             ...        ...
2636056  2105346239          1
2636057  2105345718          1
2636058  2105345395          1
2636059  1984365483          1
2636060  3217639638          1

[2636061 rows x 2 columns]

In [10]:
%%time
NIH_Patent_test = MAGID_NIHcount.merge(MAGID_Patentcount, how='outer', on='MAGID')
NIH_Patent_test

CPU times: user 5.03 s, sys: 281 ms, total: 5.31 s
Wall time: 5.4 s

              MAGID  NIH_count  Patent_count
0        2040964350      192.0           1.0
1        2519445944      190.0           NaN
2        2752326209      187.0          10.0
3        2898585601      181.0           NaN
4        2144405108      151.0           NaN
...             ...        ...           ...
7868158  2056070989        NaN           1.0
7868159  2056071436        NaN           1.0
7868160  2056071453        NaN           1.0
7868161  2056071454        NaN           1.0
7868162  2061465702        NaN           1.0

[7868163 rows x 3 columns]

In [11]:
%%time
MAGID_NIHcount.loc[MAGID_NIHcount['MAGID'].isin(NIH_Patent_test['MAGID']), :]

CPU times: user 1.57 s, sys: 15.9 ms, total: 1.59 s
Wall time: 1.59 s

              MAGID  NIH_count
0        2040964350        192
1        2519445944        190
2        2752326209        187
3        2898585601        181
4        2144405108        151
...             ...        ...
2636056  2105346239          1
2636057  2105345718          1
2636058  2105345395          1
2636059  1984365483          1
2636060  3217639638          1

[2636061 rows x 2 columns]

In [12]:
%%time
MAGID_Patentcount.loc[MAGID_Patentcount['MAGID'].isin(NIH_Patent_test['MAGID']), :]

CPU times: user 1.71 s, sys: 15.7 ms, total: 1.73 s
Wall time: 1.72 s

              MAGID  Patent_count
0        2030522563         29270
1        2055043387         28585
2        1594700207         28185
3        2144634347         22600
4        2074231493         19873
...             ...           ...
5824921  2056071356             1
5824922  2056071436             1
5824923  2056071453             1
5824924  2056071454             1
5824925  2061465702             1

[5824926 rows x 2 columns]

In [13]:
%%time
NIH_Patent = MAGID_NIHcount.merge(MAGID_Patentcount, how='outer', on='MAGID')
NIH_Patent_News = NIH_Patent.merge(df_MAG_Newsfeed_cnt, how='outer', on='MAGID')
NIH_Patent_News_Twit = NIH_Patent_News.merge(df_MAG_Twitter_cnt, how='outer', on='MAGID')
NIH_Patent_News_Twit_NCT = NIH_Patent_News_Twit.merge(df_MAG_NCT_cnt, how='outer', on='MAGID')
NIH_Patent_News_Twit_NCT

CPU times: user 27.5 s, sys: 1.42 s, total: 28.9 s
Wall time: 28.9 s

,MAGID,NIH_count,Patent_count,Newsfeed_count,Twitter_count,NCT_count
0,2040964350,192.0,1.0,NaN,1.0,NaN
1,2519445944,190.0,NaN,NaN,8.0,NaN
2,2752326209,187.0,10.0,NaN,19.0,NaN
3,2898585601,181.0,NaN,NaN,45.0,NaN
4,2144405108,151.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
12160863,2047074132,NaN,NaN,NaN,NaN,1.0
12160864,2047073643,NaN,NaN,NaN,NaN,1.0
12160865,2047072666,NaN,NaN,NaN,NaN,1.0
12160866,2047071958,NaN,NaN,NaN,NaN,1.0
12160867,3217652281,NaN,NaN,NaN,NaN,1.0

In [14]:
%%time
SciNet_MAG_Papers = df_MAG_Sel_wRC.merge(NIH_Patent_News_Twit_NCT, how='inner', on='MAGID')
# inner join for the focal papers.
SciNet_MAG_Papers

CPU times: user 1min 44s, sys: 13 s, total: 1min 57s
Wall time: 1min 57s

,MAGID,DOI,DocType,Year,Date,JID,ConfSID,ConfInsID,C_all,C10,R,C3,C5,NIH_count,Patent_count,Newsfeed_count,Twitter_count,NCT_count
0,84606111,10.1007/S10940-017-9355-8,Journal,2018.0,2018-09-01,2.580924e+07,NaN,NaN,5.0,5.0,47.0,5.0,5.0,NaN,NaN,NaN,2.0,NaN
1,183958795,NaN,Conference,2008.0,2008-05-02,NaN,2.755403e+09,NaN,2.0,0.0,34.0,0.0,0.0,NaN,1.0,NaN,NaN,NaN
2,201300076,NaN,Journal,2006.0,2006-07-14,1.799271e+07,NaN,NaN,163.0,129.0,0.0,29.0,67.0,NaN,NaN,NaN,NaN,1.0
3,814979826,10.1080/10618600.2017.1305278,Journal,2018.0,2018-01-02,7.615927e+07,NaN,NaN,14.0,10.0,49.0,10.0,10.0,NaN,NaN,NaN,1.0,NaN
4,855255571,NaN,Conference,2015.0,2015-12-07,NaN,1.127325e+09,639028944.0,171.0,170.0,31.0,72.0,142.0,NaN,5.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12160863,3183316668,10.3389/FCVM.2021.713170,Journal,2021.0,2021-07-22,2.595414e+09,NaN,NaN,1.0,1.0,136.0,1.0,1.0,NaN,NaN,NaN,1.0,NaN
12160864,3188817351,10.1101/2021.08.06.455400,Repository,2021.0,2021-08-06,2.734325e+09,NaN,NaN,0.0,0.0,79.0,0.0,0.0,NaN,NaN,NaN,3.0,NaN
12160865,3204357951,10.5326/JAAHA-MS-7081,Journal,2021.0,2021-11-01,5.924484e+07,NaN,NaN,0.0,0.0,25.0,0.0,0.0,NaN,NaN,NaN,1.0,NaN
12160866,3206451942,10.3389/FENRG.2021.771781,Journal,2021.0,2021-10-20,2.595193e+09,NaN,NaN,0.0,0.0,51.0,0.0,0.0,NaN,NaN,NaN,1.0,NaN
12160867,3215152208,10.11646/ZOOTAXA.5072.6.3,Journal,2021.0,2021-12-03,1.714719e+08,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,1.0,NaN

In [15]:
%%time
SciNet_Papers = df_MAG_Sel_wRC.merge(NIH_Patent_News_Twit_NCT, how='left', on='MAGID')
# left join for the primary papers.
SciNet_Papers

CPU times: user 2min 20s, sys: 32.9 s, total: 2min 53s
Wall time: 2min 53s

,MAGID,DOI,DocType,Year,Date,JID,ConfSID,ConfInsID,C_all,C10,R,C3,C5,NIH_count,Patent_count,Newsfeed_count,Twitter_count,NCT_count
0,2789336,NaN,Journal,2008.0,2008-01-01,2.048520e+08,NaN,NaN,1.0,1.0,13.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN
1,9552966,NaN,Journal,2005.0,2005-05-01,2.737569e+09,NaN,NaN,0.0,0.0,37.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,9694411,NaN,Conference,1994.0,1994-01-01,NaN,2.755927e+09,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,14355006,NaN,Repository,2011.0,2011-01-01,3.121261e+09,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,14558443,10.1007/978-3-662-45174-8_28,Conference,2014.0,2014-10-12,NaN,1.131603e+09,4.038532e+06,14.0,14.0,11.0,6.0,9.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134129183,3215499129,10.1109/ICRERA52334.2021.9598593,NaN,2021.0,2021-09-26,NaN,NaN,NaN,0.0,0.0,14.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
134129184,3215845741,10.3389/FCVM.2021.766676,Journal,2021.0,2021-11-24,2.595414e+09,NaN,NaN,0.0,0.0,33.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
134129185,3216186450,10.1016/J.IDNOW.2021.11.004,NaN,2021.0,2021-11-24,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
134129186,3216762448,10.1016/J.ISTRUC.2021.10.095,Journal,2022.0,2022-01-01,2.898443e+09,NaN,NaN,0.0,0.0,33.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
134129187,3217727977,10.1109/MLISE54096.2021.00043,Conference,2021.0,2021-07-09,NaN,1.180663e+09,3.117406e+09,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [16]:
%%time
SciNet_Papers.loc[pd.notnull(SciNet_Papers['NIH_count']),:]

CPU times: user 16.2 s, sys: 13.3 s, total: 29.5 s
Wall time: 29.4 s

,MAGID,DOI,DocType,Year,Date,JID,ConfSID,ConfInsID,C_all,C10,R,C3,C5,NIH_count,Patent_count,Newsfeed_count,Twitter_count,NCT_count
758,1754350508,10.1111/RSSB.12123,Journal,2016.0,2016-03-01,145009937.0,NaN,NaN,65.0,61.0,56.0,30.0,60.0,5.0,NaN,NaN,NaN,NaN
792,1816482797,10.1093/HMG/DDV309,Journal,2015.0,2015-08-05,166515463.0,NaN,NaN,24.0,24.0,29.0,11.0,15.0,1.0,NaN,NaN,NaN,NaN
978,1964555670,10.1021/OL1007444,Journal,2010.0,2010-05-17,201989124.0,NaN,NaN,44.0,39.0,103.0,15.0,20.0,3.0,NaN,NaN,NaN,NaN
1035,1966827022,10.1371/JOURNAL.PCBI.1002887,Journal,2013.0,2013-02-07,86033158.0,NaN,NaN,42.0,42.0,120.0,27.0,34.0,5.0,3.0,NaN,NaN,NaN
1046,1967136562,10.1021/JA0385944,Journal,2004.0,2004-02-04,111155417.0,NaN,NaN,118.0,95.0,11.0,31.0,46.0,2.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134128552,2788808640,10.1053/J.GASTRO.2018.02.027,Journal,2018.0,2018-06-01,143352558.0,NaN,NaN,33.0,33.0,35.0,33.0,33.0,2.0,NaN,NaN,NaN,NaN
134128723,2909940796,10.1159/000495345,Journal,2019.0,2019-01-10,195598543.0,NaN,NaN,5.0,5.0,41.0,5.0,5.0,5.0,NaN,NaN,2.0,NaN
134128797,285755040,NaN,Journal,1994.0,1994-01-01,25199142.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN
134128818,2973528285,10.1186/S13567-019-0681-8,Journal,2019.0,2019-09-18,134003780.0,NaN,NaN,13.0,12.0,33.0,12.0,12.0,2.0,NaN,NaN,NaN,NaN
134128878,3007774268,10.1093/GBE/EVAA045,Journal,2020.0,2020-04-01,10195028.0,NaN,NaN,2.0,2.0,45.0,2.0,2.0,4.0,NaN,NaN,NaN,NaN

In [17]:
SciNet_Papers.to_csv("../Final-Data/Data-Tables-MAG_" + date_str + "/SciNet_Papers_V0-1.csv", sep='\t', index=False)

In [ ]:
# SciNet_Papers