In [1]:
import pandas as pd
date_str = '2021-12-06'

In [2]:
%%time
df_Ref_New = pd.read_csv('./Data-Metrics/MID_MAG_Journal_References_Year.csv', sep='\t')
df_Ref_New

CPU times: user 4min 34s, sys: 1min 6s, total: 5min 41s
Wall time: 5min 41s

                Citing       Cited  Citing_Year  Cited_Year
0                  108  2155007194       2013.0      2008.0
1                  147   132242577       2008.0      2001.0
2                  147  1973725016       2008.0      2007.0
3                  147  2084894991       2008.0      2007.0
4                  147  2091764496       2008.0      2007.0
...                ...         ...          ...         ...
1192476649  3182980714  2989526080       2021.0      2020.0
1192476650  3182980714  2996077625       2021.0      2020.0
1192476651  3217810308  2090392569       2021.0      2001.0
1192476652  3217810308  2318721171       2021.0      1991.0
1192476653  3217810722  2028332996       2022.0      2013.0

[1192476654 rows x 4 columns]

In [4]:
%%time
df_Ref_New['abs_year'] = df_Ref_New['Citing_Year'] - df_Ref_New['Cited_Year']
df_Ref_New

CPU times: user 4.81 s, sys: 4.23 s, total: 9.03 s
Wall time: 9.05 s

                Citing       Cited  Citing_Year  Cited_Year  abs_year
0                  108  2155007194       2013.0      2008.0       5.0
1                  147   132242577       2008.0      2001.0       7.0
2                  147  1973725016       2008.0      2007.0       1.0
3                  147  2084894991       2008.0      2007.0       1.0
4                  147  2091764496       2008.0      2007.0       1.0
...                ...         ...          ...         ...       ...
1192476649  3182980714  2989526080       2021.0      2020.0       1.0
1192476650  3182980714  2996077625       2021.0      2020.0       1.0
1192476651  3217810308  2090392569       2021.0      2001.0      20.0
1192476652  3217810308  2318721171       2021.0      1991.0      30.0
1192476653  3217810722  2028332996       2022.0      2013.0       9.0

[1192476654 rows x 5 columns]

In [5]:
%%time
df_Ref_Sel = df_Ref_New.loc[df_Ref_New['abs_year'] >=0, :]
df_Ref_Sel

CPU times: user 45.3 s, sys: 44.2 s, total: 1min 29s
Wall time: 1min 29s

                Citing       Cited  Citing_Year  Cited_Year  abs_year
0                  108  2155007194       2013.0      2008.0       5.0
1                  147   132242577       2008.0      2001.0       7.0
2                  147  1973725016       2008.0      2007.0       1.0
3                  147  2084894991       2008.0      2007.0       1.0
4                  147  2091764496       2008.0      2007.0       1.0
...                ...         ...          ...         ...       ...
1192476649  3182980714  2989526080       2021.0      2020.0       1.0
1192476650  3182980714  2996077625       2021.0      2020.0       1.0
1192476651  3217810308  2090392569       2021.0      2001.0      20.0
1192476652  3217810308  2318721171       2021.0      1991.0      30.0
1192476653  3217810722  2028332996       2022.0      2013.0       9.0

[1187165425 rows x 5 columns]

In [6]:
%%time
df_Ref_Sel = df_Ref_Sel.copy()
df_Ref_Sel

CPU times: user 12.8 s, sys: 12 s, total: 24.8 s
Wall time: 24.9 s

                Citing       Cited  Citing_Year  Cited_Year  abs_year
0                  108  2155007194       2013.0      2008.0       5.0
1                  147   132242577       2008.0      2001.0       7.0
2                  147  1973725016       2008.0      2007.0       1.0
3                  147  2084894991       2008.0      2007.0       1.0
4                  147  2091764496       2008.0      2007.0       1.0
...                ...         ...          ...         ...       ...
1192476649  3182980714  2989526080       2021.0      2020.0       1.0
1192476650  3182980714  2996077625       2021.0      2020.0       1.0
1192476651  3217810308  2090392569       2021.0      2001.0      20.0
1192476652  3217810308  2318721171       2021.0      1991.0      30.0
1192476653  3217810722  2028332996       2022.0      2013.0       9.0

[1187165425 rows x 5 columns]

In [7]:
import numpy as np
def sleeping_beauty(x):
#     print(x)
#     print("Begin Processing: ")
    
    time_list = x[:,0]
    cite_list = x[:,1]
    
#     print(time_list)
#     print(cite_list)
    
    max_time = int(max(time_list))
#     print(max_time)
    
    C_list = np.zeros((max_time+1,), dtype=int)
#     print(C_list)
    
    for i in range(len(time_list)):
        C_list[int(time_list[i])] = int(cite_list[i])
#     print(C_list)
    
    B_list = C_list.copy()
    B_list[C_list == 0] = 1
#     print(B_list)
#     print(C_list)
    
    t_m = np.argmax(C_list)
    
    if t_m == 0:
        return 0, 0
    
    c_m = C_list[t_m]
    c_0 = C_list[0]
#     print(c_m,t_m)
#     print(len(C_list), C_list.shape[0])

#     print(((c_m - c_0) / t_m * np.arange(t_m+1) + c_0 - C_list[:t_m+1]) / B_list[:t_m+1])
    B = np.sum(((c_m - c_0) / t_m * np.arange(t_m+1) + c_0 - C_list[:t_m+1]) / B_list[:t_m+1])
#     print(B)
    
    d_t = np.abs((c_m - c_0) * np.arange(t_m+1) + (c_0 - C_list[:t_m+1]) * t_m) / np.sqrt((c_m - c_0)**2 + t_m**2)
#     print(d_t)
    
    T = np.argmax(d_t)
    
    return B,T
#     return pd.Series([B, T],index=['BC','AT']).to_frame().transpose()

In [21]:
%%time
df_Ref_Sel_Sample = df_Ref_Sel.loc[df_Ref_Sel['Cited'] <=500, :]
df_Ref_Sel_Sample.head(5)

CPU times: user 2.09 s, sys: 314 ms, total: 2.4 s
Wall time: 2.41 s

               Citing  Cited  Citing_Year  Cited_Year  abs_year
108869570  1973708509    285       2012.0      2012.0       0.0
109823261  1973991242    285       2014.0      2012.0       2.0
136964946  1982063663    290       1992.0      1986.0       6.0
150772747  1986163530    290       2000.0      1986.0      14.0
173737497  1993013901    290       1989.0      1986.0       3.0

In [23]:
import numpy as np
from tqdm import tqdm
result = []
MAG_CC_Year_GBP = df_Ref_Sel_Sample.groupby(['Cited'], as_index=False, sort=False)
cnt = 0
for name, df_group in tqdm(MAG_CC_Year_GBP):
    B, T = sleeping_beauty(df_group.groupby('abs_year').size().reset_index(name='count').values)
    result.append([name, B, T])
    cnt += 1
print(result[:5])

100%|██████████| 3/3 [00:00<00:00, 364.69it/s]

[[285, 2.0, 2], [290, 17.26923076923077, 12], [23, 3.0, 6]]

In [24]:
df_Ref_Sel

                Citing       Cited  Citing_Year  Cited_Year  abs_year
0                  108  2155007194       2013.0      2008.0       5.0
1                  147   132242577       2008.0      2001.0       7.0
2                  147  1973725016       2008.0      2007.0       1.0
3                  147  2084894991       2008.0      2007.0       1.0
4                  147  2091764496       2008.0      2007.0       1.0
...                ...         ...          ...         ...       ...
1192476649  3182980714  2989526080       2021.0      2020.0       1.0
1192476650  3182980714  2996077625       2021.0      2020.0       1.0
1192476651  3217810308  2090392569       2021.0      2001.0      20.0
1192476652  3217810308  2318721171       2021.0      1991.0      30.0
1192476653  3217810722  2028332996       2022.0      2013.0       9.0

[1187165425 rows x 5 columns]

In [25]:
import numpy as np
from tqdm import tqdm
result = []
MAG_CC_Year_GBP = df_Ref_Sel.groupby(['Cited'], as_index=False, sort=False)
cnt = 0
for name, df_group in tqdm(MAG_CC_Year_GBP):
    B, T = sleeping_beauty(df_group.groupby('abs_year').size().reset_index(name='count').values)
    result.append([name, B, T])
    cnt += 1
print(result[:5])

 20%|██        | 10786634/52699363 [3:03:25<11:19:58, 1027.32it/s]IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

 23%|██▎       | 12353399/52699363 [3:28:54<10:44:31, 1043.31it/s]IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

 27%|██▋       | 13989627/52699363 [3:55:26<10:19:23, 1041.60it/s]IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

 30%|██▉       | 15617225/52699363 [4:21:53<10:13:04, 1008.08it/s]IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

 33%|███▎      | 17187488/52699363 [4:47:33<9:37:51, 1024.25it/s]IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

 67%|██████▋   | 35398871/52699363 [9:55:00<4:52:07, 987.04it/s] IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

 70%|███████   | 37004227/52699363 [10:22:46<4:37:35, 942.33it/s] IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

 73%|███████▎  | 38601616/52699363 [10:51:08<4:01:33, 972.68it/s] IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

 76%|███████▋  | 40205930/52699363 [11:18:55<3:33:54, 973.42it/s] IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

 79%|███████▉  | 41788508/52699363 [11:46:20<3:06:52, 973.12it/s] IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

 82%|████████▏ | 42993504/52699363 [12:07:09<2:52:06, 939.94it/s] IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

 82%|████████▏ | 43334428/52699363 [12:13:04<2:43:18, 955.80it/s] IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

 85%|████████▍ | 44543244/52699363 [12:33:56<2:21:01, 963.86it/s] IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

 85%|████████▌ | 44885432/52699363 [12:39:51<2:16:14, 955.93it/s] IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

 87%|████████▋ | 46090788/52699363 [13:00:38<1:52:16, 980.94it/s] IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

 88%|████████▊ | 46409530/52699363 [13:06:07<1:49:17, 959.21it/s] IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

 91%|█████████ | 47840524/52699363 [13:30:45<1:25:46, 944.07it/s] IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

 94%|█████████▍| 49414701/52699363 [13:57:40<57:05, 958.79it/s]  IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

 97%|█████████▋| 50978419/52699363 [14:24:17<29:26, 974.03it/s] IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

100%|█████████▉| 52578202/52699363 [14:50:59<01:57, 1032.31it/s]IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [26]:
SB_Res = pd.DataFrame(result)
SB_Res

                   0    1   2
0         2155007194  2.0   4
1          132242577  3.0   3
2         1973725016  0.0   0
3         2084894991  7.0  11
4         2091764496  0.0   0
...              ...  ...  ..
52699358  3217697823  0.0   0
52699359  3135685316  0.0   0
52699360  3210317655  0.0   0
52699361  3173517954  4.5   9
52699362  2997914469  0.0   0

[52699363 rows x 3 columns]

In [27]:
SB_Res.rename(columns={0:'PaperID',1:'SB_B',2:'SB_T'}, inplace=True)

In [28]:
SB_Res

             PaperID  SB_B  SB_T
0         2155007194   2.0     4
1          132242577   3.0     3
2         1973725016   0.0     0
3         2084894991   7.0    11
4         2091764496   0.0     0
...              ...   ...   ...
52699358  3217697823   0.0     0
52699359  3135685316   0.0     0
52699360  3210317655   0.0     0
52699361  3173517954   4.5     9
52699362  2997914469   0.0     0

[52699363 rows x 3 columns]

In [29]:
# SB_Res.to_csv('./Data-Count/SciNet-SleepingBeauty.tsv', sep='\t', index=False)

# Read Test

In [30]:
%%time
df_SB = pd.read_csv('./Data-Count/SciNet-SleepingBeauty.tsv', sep='\t')
df_SB

CPU times: user 9.7 s, sys: 3.05 s, total: 12.7 s
Wall time: 12.8 s

             PaperID  SB_B  SB_T
0         2155007194   2.0     4
1          132242577   3.0     3
2         1973725016   0.0     0
3         2084894991   7.0    11
4         2091764496   0.0     0
...              ...   ...   ...
52699358  3217697823   0.0     0
52699359  3135685316   0.0     0
52699360  3210317655   0.0     0
52699361  3173517954   4.5     9
52699362  2997914469   0.0     0

[52699363 rows x 3 columns]

In [31]:
%%time
len(df_Ref_Sel['Cited'].unique())

CPU times: user 1min 30s, sys: 4.56 s, total: 1min 35s
Wall time: 1min 35s

52699363